.g-table-wrapper {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;

    &::-webkit-scrollbar {
        background-color: var(--scrollbar-bg);
        width: 16px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-bg);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-bg);
        border-radius: 16px;
        border: 4px solid var(--scrollbar-bg);
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    .g-table {
        border-collapse: collapse;
        width: 100%;
        th,
        td {
            padding: 0.75rem;
            color: var(--text-color);
            min-width: fit-content;
            word-wrap: break-word;
        }
        thead {
            border-bottom: 1px solid rgba(#444, 0.2);
            th {
                text-transform: uppercase;
                font-weight: 600;
            }
        }
        tbody {
			tr {
				border-left: 2px solid transparent;
			}
            tr:hover {
                border-left-color: var(--primary-color);
                background-color: rgba(12, 155, 242, 0.02);
            }
            tr:nth-of-type(odd) {
                background-color: rgba(#000, 0.05);
            }
        }
    }
}
