.not-found,
.not-allowed {
	background-color: var(--body-bg);
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 5%;

	.error-wrapper {
		width: 500px;
		max-width: 100%;
		text-align: center;
	}
}