#app {
    .wrapper {
        overflow-x: hidden;
        width: 100%;
        min-height: 100vh;
        display: block;
        max-width: 100vw;
        position: fixed;

        .sidebar {
            display: flex;
            flex-direction: column;

            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: $closed-sidebar-width;
            padding: 10px 14px;
            background: var(--sidebar-color);
            transition: var(--tran-05);
            z-index: 100;

            .sidebar-header {
                background-color: var(--primary-color);
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                border-radius: 5px;
                overflow: hidden;
                transition: var(--tran-03);

                .logo {
                    display: flex;
                    min-width: 60px;
                    max-width: 60px;
                    height: 60px;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 40px;
                    }
                }

                h5 {
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 0;
                    color: #fff;
                }
            }

            .sidebar-list {
                flex: 1;
                margin: 0;
                padding: 0;
                list-style-type: none;
                max-height: calc(100% - 250px);
                overflow-y: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .sidebar-item {
                    @include sidebar_item();

                    .sidebar-link {
                        @include sidebar_link();
                    }
                }
            }

            .sidebar-footer {
                margin-top: auto;
                @include sidebar_item();

                .toggle {
                    @include sidebar_link();
                }
            }
        }

        .main-panel {
            position: absolute;
            top: 0;
            top: 0;
            left: $closed-sidebar-width;
            min-height: 100vh;
            width: calc(100% - $closed-sidebar-width);
            background-color: var(--body-bg);
            transition: var(--tran-05);

            .dashboard-header,
            .dashboard-footer {
                width: 100%;
                height: $navbar-footer-height;
                display: flex;
                align-items: center;
                padding: 0 2rem;
            }
            .dashboard-header {
                .toggle-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    background-color: var(--primary-color);
                    color: #fff;
                }

                .searchbox {
                    flex: 1;
                    display: flex;
                    justify-content: center;

                    .search-form {
                        height: 50px;
                        background-color: #dedede;
                        overflow: hidden;
                        border-radius: 5px;
                        // border: 2px solid var(--primary-color);
                        display: flex;
                        box-shadow: 0 0 3px 3px rgba(var(--primary-color), 0.1);

                        input {
                            border: none;
                            background-color: transparent;
                            border-radius: 5px;
                            overflow: hidden;
                            height: 40px;
                            line-height: 40px;
                            padding: 0 15px;
                            margin: 5px;
                            outline: none;
                            color: var(--primary-color) !important;
                        }

                        button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 40px;
                            height: 40px;
                            background-color: var(--primary-color);
                            color: #fff;
                            margin: 5px;
                            border-radius: 5px;
                            border: none;
                        }
                    }
                }

                .control-dropdown {
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    padding: 5px 10px;
                    background-color: var(--primary-color);
                    cursor: pointer;

                    figure {
                        width: 40px;
                        height: 40px;
                        max-width: 40px;
                        overflow: hidden;
                        border-radius: 50%;
                        margin-bottom: 0;
                    }

                    .control-name {
                        padding: 0 5px;
                        color: #fff;
                    }

                    .control-angle {
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .dashboard-footer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #444;

                @media screen and (min-width: 720px) {
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            .dashboard-content {
                width: 100%;
                min-height: calc(100vh - ($navbar-footer-height * 2));
                padding: 2rem;
            }
        }
    }

    &.nav-open .wrapper {
        .sidebar {
            width: $opened-sidebar-width;
        }
        .main-panel {
            left: $opened-sidebar-width;
            width: calc(100% - $opened-sidebar-width);
        }
    }

    @media screen and (max-width: 720px) {
        .wrapper {
            .sidebar {
                width: $opened-sidebar-width;
                left: -$opened-sidebar-width;
            }
            .main-panel {
                left: 0;
                width: 100%;
            }
        }
        &.nav-open .wrapper {
            .sidebar {
                left: 0;
            }
            .main-panel {
                left: $opened-sidebar-width;
                width: 100%;
            }
        }
    }
}
